@font-face {
  font-family: 'MyCustomFont';
  src: url(minecraft.ttf);
}

:root {
--cream: #e8e0d0;
--dark: #1a1a1a;
--red: #d93025;
--muted: rgba(0,0,0,0.12);
--pixel-font: 'MyCustomFont', monospace;
--mono-font: 'MyCustomFont', monospace;
--body-font: 'MyCustomFont', sans-serif;
--nav-h: 56px;
--ease: 0.18s ease;
}

/*--reset---*/
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box;}
html, body {overflow-x: hidden;}
body {font-family: var(--body-font); background: var(--cream); color: var(--dark);}
img {display: block;}
button {font-family: inherit; cursor: pointer;}

/*--pages---*/
.page {display: none; min-height: 100vh; flex-direction: column; animation: fadeIn 0.25s ease;}
.page.active {display: flex;}
@keyframes fadeIn {from {opacity:0;} to {opacity:1;} }

/*--nav---*/
.nav{
display: grid;
grid-template-columns: 1fr auto 1fr;
align-items: center;
height: var(--nav-h);
padding: 0 40px;
background: var(--cream);
border-bottom: 1.5px solid var(--dark);position: sticky;
top: 0;
z-index: 100;
}

.nav__left  { display: flex; gap: 24px; align-items: center; }
.nav__right { display: flex; gap: 14px; align-items: center; justify-content: flex-end; }
.nav__logo img { height: 50px; width:auto; }


.nav__btn { font-family: var(--mono-font); font-size: 11px; font-weight: 700;
letter-spacing: 1px; background: none; border: none;
text-transform: uppercase; transition: opacity var(--ease);
}

.nav__btn:hover { opacity: 0.6; }
.nav__country { font-family: var(--mono-font); font-size: 11px; font-weight: 700; letter-spacing: 1px; }
.nav__icon { background: none; border: none; font-size: 16px; transition: transform var(--ease); }
.nav__icon:hover { transform: scale(1.15); }
.nav__cart { position: relative; background: none; border: none; font-size: 18px; transition: transform var(--ease); }
.nav__cart:hover { transform: scale(1.1); }
.nav__cart-badge { position: absolute; top: -5px; right: -7px;
background: var(--red); color: #fff;
font-size: 9px; width: 17px; height: 17px;
border-radius: 50%; display: flex; align-items: center; justify-content: center;
font-family: var(--mono-font); font-weight: 700; pointer-events: none;
}

/*--home---*/
#page-home {
  height: 100vh;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.hotspot {
  position: absolute;
  transform: translate(-50%, -50%);  
  background: #fae0ce;
  border: none;
  font-family: var(--pixel-font);
  font-size: 15px;
  padding: 8px 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

 